.mainContainer{
    background-image: url("athletes-ball-basketball-1839836.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 800px;
    max-height: 800px;
    min-height: 600px;
    margin: auto;
}

.loginContainer {
    max-width: 500px;
    /* height: 350px;  */
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding-top: 100px;
    opacity: .5;
}
.loginContainer:hover{
    opacity: 1.0;
}
.main{
 display: flex;
 flex-direction: column;
 align-items: center;
}

h3{
    color: #000080;
}

p{
    color: #000080;
    margin-bottom: 10px;
    font-weight: bold;
}
input{
    width:300px;
    margin-bottom: 15px;
}

button{
    width: 100px;
    margin-top: 15px;
    border-radius: 10%;
}
button:hover{
    background-color: #000080;
    color:#cdcdcd;
    cursor: pointer;
}

.signUpToday{
    padding-top: 50px;
    font-weight: bold;
    color: #000080;
}

.free{
    color: #000080;
}

